/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0;

  /* hack to fix background color overflowing the wave background image */
  padding-bottom: 1px;
  padding-right: 1px;

  text-align: center;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  background-color: #000094;
  background-image: var(--wave-background);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-clip: content-box;
  min-height: 700px;
}

.container {
  margin-top: 12rem;
}

@media screen and (max-width: 1200px) {
  .heroBanner {
    min-height: 600px;
  }
  .container {
    margin-top: 10rem;
  }
}

.title,
.subtitle {
  color: var(--home-title-color);
}
